h1 {
  text-align: center;
}
h3 {
  text-align: center;
}
.bg {
  background-image: url(./ss.jpg);
  float: left;
  width: 100%;
}

.containerLogin {
  background-color: white;
  width: 400px;
  margin: 100px 0 0 200px;
  padding: 10px;
}

img {
  height: 140px;
  width: 5px;
  float: left;
}
